langchain
ipykernel
python-dotenv
langchain_community
PyPDF
bs4
arxiv
pymupdf
langchain_text_splitters
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
faiss_cpu
langchain-chroma
streamlit
fastapi
uvicorn
langserve
sse_starlette